*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

nav ul{
    display: flex;
    list-style: none;
}

 a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    width: 30vh;
    color: black;
}





.card-container{
    height: 300px;
    width: 200px;
    margin-top: 30px;
    display: inline-block;
    justify-content: space-between;
    margin: 80px;
}

.card{
    height: 100%;
    width: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    margin-top: 10%;
    margin-left: 10%;
    box-shadow: 0 8px 6px -6px black;
}

.card:hover{
    transform: rotateY(180deg);
}

.card figure{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}

.card .front{
    background: rgba(174, 155, 162, 0.576);
}

.card .back{
    background-color: rgb(194, 182, 164);
    transform: rotateY(180deg);
}

.card .back button{
    margin-top: 35%;
    border: none;
}

.card .back h1{
    text-align: center;
}

.slider{
    background: rgb(142, 134, 134);
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
}
.intro{
    background: black;
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.intro-text{
    font-size: 3rem;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

.cover-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black;
}

.main-content{
    background-color: rgb(180, 183, 184);
}

.front img{
    border: solid black;
    border-radius: 4px;
}